body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 3fr 200px;
}

header{
    background-color: orange;
}
nav{
    background-color: lightcoral;
    display: none;
}
nav a{

}
main{
    background-color: yellow;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: justify;
}
main img{
    width: 100%;
}
footer{
    background-color: red;
}
footer ul li a img {
    width: 50px;
    height: 50px;
}

